/* css master sheet for the website */
/* css comments refer to the code below it */

/* text styles */
h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 300%;
  text-align: center;
}

p {
  color :#ffffff
  }
  
h2{
  color: #ffffff;
  }

body { 
  margin: 0;
  font-family:'Roboto', sans-serif;
  background-color:#414547;
}



/* background for website */
.content {
  background-image: url(/images/background.svg);
  background-size:     cover;                     
  background-repeat:   repeat;
  background-position: center center; 
  height:90.5vh;
  width:99.9vw;
}

/* navbar CSS*/
.svgnavbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.svgnavbar svg {
  position: relative;
  display: block;
  width: calc(156% + 1.3px);
  height: 113px;
}

.svgnavbar .shape-fill {
  fill: #393939;
}
.navbar {
  overflow: hidden;
  background-color: #393939;
  padding: 20px 10px;
}
.navbar a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.navbar a.logo {
  font-size: 25px;
  font-weight: bold;
}
.navbar a:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.navbar a.active {
  background-color: #7c7a8f;
  color: white;
}
.navbar-right {
  float: right;
}
/* End of navbar CSS*/

.grid {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 100px 200px;
  place-content: center;
}

/* Columns */

.column {
  float: left;
  width: 50%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Unity Grid */

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  
  flex: 1 100%;
}



.main {
  text-align: left;
  
}

.aside-1 {
  
}

.aside-2 {
  
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 700px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

