/* css master sheet for the website */
/* css comments refer to the code below it */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* text styles */
h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p {
  color :#ffffff
  }
  
h2{
  color: #ffffff;
  }

body { 
  margin: 0;
  font-family:'Roboto', sans-serif;
  background-image: url(/images/background.svg);
  background-size:     cover;                     
  background-repeat:   repeat;
  background-position: center center; 
  
}



/* background for website */
.content {

}

/* navbar CSS*/
.svgnavbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.svgnavbar svg {
  position: relative;
  display: block;
  width: calc(156% + 1.3px);
  height: 113px;
}

.svgnavbar .shape-fill {
  fill: #393939;
}
.navbar {
  overflow: hidden;
  background-color: #393939;
  padding: 20px 10px;
}
.navbar a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.navbar a.logo {
  font-size: 25px;
  font-weight: bold;
}
.navbar a:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.navbar a.active {
  background-color: #7c7a8f;
  color: white;
}
.navbar-right {
  float: right;
}
/* End of navbar CSS*/

.grid {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 100px 200px;
  place-content: center;
}

/* Columns */

.column {
  
  width: 50%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Unity Grid */

.wrapper {
  display: flex;  
  font-weight: bold;
  align-content: center;
}

.wrapper > * {
  flex: 1 100%;
  
}


.main {
  width: 965px;
  height: 645px;

}

.aside-1 {
  margin-left: 80px;
  margin-right: 80px;
}

.aside-2 {
 margin-right: 80px;
 margin-left: 80px;
}

@media all  {
}

@media all  {
  .main    { flex: 1 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

div.card {
  
  text-align: center;
  
}
div.cardheader {
  background-color: #393939;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

h5{
  margin-top: -15px;
  font-size: 20px;
}

.container{
  width: 100%; 
  padding: 2px 16px;
  align-content: center;
}
.bcard {
    transition: .75s;
    margin-left: 10px;
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    float: left;
    width: 200px;
    height: 250px;
}
.bcard:hover{
  z-index: 10 !important;
  transform: scale(1.05);
  
}

.adve{
  width: 200px;
  height: auto;
  border-bottom: 6px solid #2155a8;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.text{
  padding: 2px 16px;
  
}



.adv{
  color: #2155a8;
  margin-top: 0;
}



.pic{
  margin-top: -145px;
}